body{
    background: color #f9f7fe;
    
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
h2{
    margin: 0 0 10px;
    font-size: 28px;
}
.container{
    text-align: center;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: 10px 5px 10px rgba(100, 100 ,111, 0.2)0px 7px 29px 0px;
    border-radius: 10px;
}
select{
    display: block;
    width:100%;
    padding: 10px;
    border: radius 4px; 
}
.city{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding:20px 0 ;
    border-bottom: 1px dashed gray;


}
.time{ 
    font-size: 48px;
    font-weight:bold ;

}
.time small{
    font-size: 24px;
    line-height:36px ;
    vertical-align: middle;
}
.date{
    opacity: 0.7;
}

footer{
    text-align: center;
    font-size: 18px;
    color:rgba(0,0,5,5 );
}
